<div class="container">
    <div class="row" style="margin: 40px 0px 40px 0px;">
        <img src="assets/images/ESTCube-2-logo.png" alt="" style="float:left;width:60px;height:60px;">
        <h1 style="position:relative;margin-left: 100px;">Data Processing Platform</h1>
    </div>
    <div class="row" *ngIf="!loader">
        <div class="col-md-4">
            <form [formGroup]="platForm" #form>
                <fieldset class="form-inline">
                    <div class="form-group" id="platform-select">
                        <label for="platform-dropdown" class="sr-only">Platform</label>
                        <select id="platform-dropdown" class="form-control" formControlName="platform">
                            <option *ngFor="let platform of platformArr" [value]="platform">{{platforms[platform]}}
                            </option>
                        </select>
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="col-md-4">
            <input type="file" (change)="fileChange($event)" placeholder="Upload file"
                   accept=".txt, .py, .R, .sce, .sci, .sc, .tst, .start, .quit, .dem" name="file">
        </div>
        <div class="col-md-4">
            <button class="btn btn-success" type="button" (click)="upload()">PROCESS</button>
        </div>
    </div>
    <spinner-component *ngIf="loader">
    </spinner-component>
    <div class="row" *ngIf="resultReceived">
      <p>Script ID: {{result['folder']}}</p>
    </div>
    <div class="alert alert-danger" *ngIf="error">
      <p>{{error}}</p>
    </div>
    <div class="row">
        <div class="col-md-6" style="padding-right: 20px">
            <div class="row"><h4>Log</h4></div>
            <div class="row" style="min-height:100px;border:1px solid #AAA; background: #dee1e5">
                <div *ngIf="resultReceived">{{result['log']}}</div>
            </div>
        </div>
        <div class="col-md-6" style="padding-left: 20px">
            <div class="row" ><h4>Plot</h4></div>
            <div class="row" *ngIf="!imageFromResult()" style="min-height:100px;border:1px solid #AAA; background: #dee1e5">
                <p *ngIf="resultReceived">No image to show</p>
            </div>
            <img *ngIf="resultReceived && imageFromResult()" [attr.src]="imageFromResult()"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row"><h4>Output</h4></div>
            <div class="row" style="min-height:100px;border:1px solid #AAA; background: #dee1e5">
                <div *ngIf="resultReceived">{{result['out']}}</div>
            </div>
        </div>
    </div>
</div>
